<% provide(:title, "Terms of service") %>

<h1>Definition</h1>
This app is just for practice of rails web service</br>
And this will not be used in public</br>
I hope you enjoying this app</br>
Thanks
