<% provide(:title, "Home") %>

<% if user_signed_in? %>
	<div class="row col-12 col-sm-12 col-md-12" id="post-index">
		<% @users.each do |user| %>
		  <% @posts = Post.where(user_id: user.id).order("created_at DESC") %>
		  <% @posts.each do |post| %>
		  	<div class="col-4 col-sm-4 col-md-4" id="top-img-index">
		      <%= link_to post_path(post),class: "col-12 col-sm-12 col-md-12", id: "post-index-img" do %>
		        <%= image_tag post.post_image.to_s,class: "col-12 col-sm-12 col-md-12" %>
		      <% end %>
			  </div>
		  <% end %>
		<% end %>
	</div>
<% else %>
	<%= render 'home/start_form' %>
<% end %>