<div class="post-icons">
	<% if @post.user.id != current_user.id %>
		<% if current_user.already_fav?(@post) %>
			<%= link_to post_favorite_path(post_id: @post), method: :delete do %>
  			<h5><i class="fas fa-heart" style="color: pink"></i></h5>
  		<% end %>
  	<% else %>
  		<%= link_to post_favorites_path(post_id: @post), method: :post do %>
  			<h5><i class="far fa-heart" style="color: pink"></i></h5>
  		<% end %>
  	<% end %>
  <% else %>
    <%= link_to edit_post_path(@post) do %>
      <i class="fas fa-edit" style="color: green"></i>
    <% end %>
    <%= link_to post_path(@post),method: :delete,data: { confirm: "Delete this post?" } do %>
      <i class="fas fa-trash-alt" style="color: crimson"></i>
    <% end %>
  <% end %>
</div>