<% provide(:title, "All Posts") %>

<div class="w-75 p-3" style="margin: 0px auto">
  <h1 style="font-size: 30px; margin-bottom: 20px; border-bottom: medium solid black">
    All Posts
  </h1>
  <div id="post-index">
    <% @posts.each do |post| %>
      <%= link_to post_path(post),class: "col-sm-4", id: "post-index-img" do %>
        <%= image_tag post.post_image.to_s %>
      <% end %>
    <% end %>
  </div>
</div>
