/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

/* main */
#mar-pad-zero{
	margin:0;
	padding:0;
}

a:hover{
  text-decoration: none;
}

body{
	display: flex;
	width:100%;
	flex-flow: column;
	min-height: 100vh;
}

.flash-zone{
	margin-block-end: auto;
}

header{
	width:100%;
  position:fixed;
  top:0;
  z-index:10;
}

.breadcrumb{
	margin-top: 65px;
	margin-bottom:0;
}

footer{
  margin-top:50px;
  width:100%;
}

#shares-title{
	font-family: "Times New Roman", Times, serif;
	font-size:26px;
}

#main-container{
	flex: 1;
}

.form-column{
	margin:0 auto;
	width:500px;
}

#submit-btn{
	width:70%;
	margin:0px auto;
	display:block;
}

.control{
	position:relative;
	.form-awesome{
		padding-left:35px;
	}
	.icon{
		position:absolute;
		top:6px;
		left:10px;
	}
}

.omni-btn{
	float:left;
	padding:3px 0px 0px 7px;
}

.omni-msg{
	padding:10px 0px;
	margin:0;
}

/* user-edit-page */
.edit-field{
  border-bottom:thin solid black;
  margin-bottom:20px;
  padding-top:20px;
  .edit-title{
    font-size:25px;
    font-weight:bold;
  }
}

.form-check{
	position:relative;
	height:50px;
	p{
		font-size:15px;
		position:absolute;
		left:10px;
	}
	.form-check-input{
		position:absolute;
		top:20px;
		left:40px;
	}
}

.danger-msg{
  color:red;
  &:hover{
    color:black;
  }
}

/* user-index */

.sub-title{
	line-height:41px;
}

#index-uname{
	color:black;
	margin-left:10px;
}
#index-psts{
	margin: 0px 0px 10px 10px;
}

#photo-icon{
  display:flex;
  margin:0px auto;
  border:thin solid black;
  border-radius:30%;
  color:black;
  &:hover{
    background-color:beige;
  }
}

#post-show-img{
	margin:10px 0px;
}

#post-index{
	display:flex;
  flex-wrap: wrap;
}

#post-index-img{
	vertical-align: middle;
	margin-bottom: 10px;
}

.post-icons{
	margin-left:30px;
}

#pst-img-index{
	width:33%;
}

#user-status{
	margin-left: 5px;
	display:inline-block;
}

#top-img-index{
	padding:0;
	margin:0px 0px 10px 0px;
}

#notifi-delete{
	float:right;
	color:red;
	padding:10px 10px 0px 0px;
}