<div class="flash-zone col-12 col-sm-12 col-md-12">
<% flash.each do |key, value| %>
	<% if flash[:notice] %>
		<%= content_tag(:div, value, class: "notice alert alert-success") %>
	<% end %>
	<% if flash[:alert] %>
		<%= content_tag(:div, value, class: "alert alert-danger") %>
	<% end %>
<% end %>
</div>