<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: aquamarine">
    <%= link_to "Shares", root_path, class: "navbar-brand" ,id: "shares-title" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render 'layouts/header_contents' %>
    </div>
  </nav>
</header>